/*
    Design by: @mesaidlg
*/

body {
    background-color: #f1f1f1;
}

.content {
    width: 900px;
    height: 520px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: white;
}
.footer {
    bottom: 0;
    position: fixed;
    background-color: #545454;
    width: 100%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	color: #fff;
    text-align: center;
    border-top: 2px solid #DFDFDF;
    padding: 1rem;
}
.footer a {
	text-decoration: none;
    color: #fff;
}

.footer a:hover {
    color: #7abfff;
}